@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Open+Sans:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-bg {
  background-image: url(/assets/images/grid-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

:root {
  /* pagination buttons */
  --swiper-pagination-color: #e3000e;
  --swiper-pagination-bullet-inactive-color: #e3000e;

  /* navigation arrows */
  --swiper-navigation-color: #e3000e;
}
